@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .1);
    --border: 2rem solid rgba(0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html, body{
    height: 100%;
    margin: 0;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
    display: flex;
    flex-direction: column;
}

section{
    padding: 2rem 9%;
}

.header{
    border: 0px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header img{
    width: 120px;
    height: auto;
    user-select: none;
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--green);
}

.header .navbar.active{
    right: 2rem;
    transition: .4s linear;
}

.header .icons div{
    border: 1px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}

.header .icons div:hover{
    background: var(--green);
    color: #fff;
    cursor: pointer;
}

#menu-btn, #cart-btn{
    display: none;
}

.header .search-form{
    display: none;
    border: 0;
    position: absolute;
    top: 110%;
    right: 10%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    display: flex;
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color: var(--green);
}

.btn{
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btm{
    width: 100%;
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    background-color: green;
}

.btn:hover{
    background: var(--green);
    color: #fff;
}
.modal h2{
    text-align: center;
    font-size: 18px;
}
.header .login-form{
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: 2rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    color: #fff;
    text-align: center;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.box{
    width: 100%;
    border: 1px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}
.modal{
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: none;
    padding-top: 60px;
    border-radius: .5rem;
}
.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;	
    max-width: 400px;
    height: auto;
    max-height: 500px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.form-box{
    margin: 20px 0;
}
input[type="text"],input[type="password"], input[type="email"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.boxa{
    width: 100%;
    margin: .7rem 0;
    background: #fff;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.home{
    border: 1px solid;
    display: flex;
    justify-content: center;
    background: url();
}

@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem 9%;
    }
}

@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
}

@media (max-width: 991px){
    html{
        font-size: 50%;
    }
}
}

main{
    flex:1;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding: 20px;
}

.footer{
    background: #fff;
    padding: 10px 0;
    /* margin-top: auto; */
    margin-top: 450px;
}
.footer .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .boxa h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .boxa h3 i{
    color: green;
}

.footer .box-container .boxa .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0
}
.footer .box-container .boxa .links i{
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .boxa .links:hover i{
    padding-right: 2rem;
}
.footer .box-container .boxa p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0
}
.footer .box-container .boxa .share a{
    height: 4rem;
    width: 4rem;
    border: 1px solid;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .boxa .share a:hover{
    background: var(--green);
    color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.footer .box-container .boxa .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}
.footer img{
    width: 120px;
    height: auto;
    user-select: none;
}
