<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Login.css">
    <title>Document</title>
</head>
<body>
    <form>
<h1><span style="color: navy;">Welcome</span> Back</h1>
<p>welcome! please login to continue</p>
<label>Email</label><br><br>
<input type="email" placeholder="email" required><br><br>
<label>Password</label><br><br>
<input type="password" placeholder="password" required><br><br>
<input type="checkbox">
<label>Remember me</label><br><br>
<button class="bt">Log in</button>
<button>Sign Up</button>
<p><a href="#">Forgot password?</a></p>



    </form>
    
</body>
</html>
