<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Registration.Css">
    <title>Document</title>
</head>
<body>
    <form>
        <h1><span style="color: navy;">Registration</span> page</h1>
        <p>Register here to create an account</p><br>
<label>Username</label><br>
<input type="text" placeholder="Username" required><br>
<label>Email</label><br>
<input type="email" placeholder="enter your email" required><br>
<label>Password</label><br>
<input type="password" placeholder="password" required><br><br>
<button>Create account</button>
<p>Account already created!</p>
<p>
   <a href="Login.html">Login</a> 
</p>
    </form>
</body>
</html>
